.lockup {
	height: 50%;
	text-align: left;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 160px;

	h2 {
		margin: 0;
		padding: 0;
	}

	p {
		margin: 0;
		padding: 13px 0;
	}
}
