.textStyle {
	text-align: left;
	white-space: pre-wrap;
	font-family: Muli;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	letter-spacing: 1.27273px;

	color: #222222;
}
