.desktopMenu {
	ul {
		list-style-type: none;
		display: inline-flex;

		li {
			margin: 0 2rem;
			font-family: Fahkwang;
			font-style: normal;
			font-weight: 600;
			font-size: 14px;
			line-height: 18px;

			letter-spacing: 1.27273px;

			color: #000000;
		}
	}
}

.mobileMenu {
	display: none;
}

.mobileNavigation {
	display: none;
	width: 0;
	height: 0;
}

@media screen and (max-width: 800px) {
	.desktopMenu {
		display: none;
	}
	.mobileMenu {
		display: flex;
		position: absolute;
		top: 30px;
		right: 10px;

		.menuIconWrapper {
			width: 20px;
			height: 20px;
			margin: 0 2rem;
			cursor: pointer;

			span {
				display: block;
				width: 22;
				height: 2px;
				margin-bottom: 5px;
				position: relative;

				background: #000000;

				z-index: 1;
			}
		}
	}
}

@media screen and (max-width: 800px) {
	.mobileNavigation {
		width: 100vw;
		min-height: 100vh;
		background: #ffffff;
		position: absolute;
		top: 65px;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		ul {
			list-style-type: none;
			display: inline-flex;
			height: 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 2rem;
			width: 85%;

			li {
				border-bottom: 1px solid;
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				height: 10%;
				font-family: Fahkwang;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 18px;

				letter-spacing: 1.27273px;

				color: #000000;
			}

			li:last-child {
				border-bottom: 0;
			}
		}
	}
}

.closeButton::before {
	display: inline-block;
	content: '\00d7';
	font-size: 40px;
	color: #000000;
	cursor: pointer;
	position: absolute;
	top: -20px;
	right: 25px;
	z-index: 200;
}
